/* sub page용 타이틀(서브 공통) */
#sub-title h1 {
  font-size: 40px;
  font-family: "Noto Sans KR", sans-serif;
}

.active {
  font-weight: bold;
}

#sub-title {
  height: 300px;
  /* background: #000; */
  color: #fff;
  display: flex;
  align-items: center;
}

#lnb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#lnb .container {
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 16px;
  text-align: center;
}

#lnb ul li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

/* 고유영역 */
/* about */
#about #sub-title {
  background-image: url("../images/about-title.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;
}

#section1 .container {
  padding: 50px 20px;
  padding-bottom: 100px;
}

/* section2 */

#section2 .container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#section2 .container .item {
  width: 451px;
}

#section2 .container .item img {
  width: 100%;
  height: 280px;
}

#section2 .container .item h2 {
  text-align: center;
  margin: 20px 0 10px 0;
}

/* location */
#location #sub-title {
  background-image: url("../images/location-img.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;
}

#location #map .container {
  padding: 70px 0 50px;
}

#location .location-info .container {
  outline: 1px solid #000;
  display: flex;
}

#location .location-info .container img {
  width: 50%;
}

#location .location-info .container .address {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#location th,
td {
  padding: 5px;
  padding-left: 1em;
}

#location th {
  text-align: left;
  vertical-align: top;
  /* display: flex; */
  font-size: 20px;
}

/* Introduce */
#Introduce #sub-title {
  background-image: url("../images/Introduce2.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center center;
}

#sec1 .container {
  padding: 50px 20px;
}

#sec2 .container {
  padding: 50px 20px;
}

/* .container h2 {
  margin-bottom: 50px;
} */

.col {
  display: flex;
  gap: 30px;
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.col:last-child {
  border: none;
}

.row {
  width: 50%;
  display: flex;
}
.row ul {
  margin-left: 20px;
}

#Introduce #sec2 ul {
  list-style: disc;
  list-style-position: inside;
}
